body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: 700!important;
    text-transform: uppercase;
    margin: 0 auto;
    font-size: 28px;
    letter-spacing: 1px;
}

h2 {
    font-size: 20px;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.site-item {
    flex: 0 30%;
}

.site-item img {
    width: 100%;
}

.page-section {
    padding: 54px;
}

.dark {
    background: #e6e7e8;
}

.section-heading .container {
    background: #00add5;
    color: #fff;
    padding: 25px 0;
    margin-bottom: 24px;
}

.site-item h2::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    top: 5px;
    margin-right: 8px;
}

.site-item:first-child h2::before {
    content: '';
    background: url(./assets/one.svg);
}

.site-item:nth-child(2) h2::before {
    content: '';
    background: url(./assets/two.svg);
}

.site-item:last-child h2::before {
    content: '';
    background: url(./assets/three.svg);
}

p.secondary-heading {
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 600;
    font-size: 21px;
    color: #000000;
    letter-spacing: 1px;
    border: 3px solid #00add5;
    padding: 25px 15%;
    margin: 24px auto 34px;
}