body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: 700!important;
    text-transform: uppercase;
    margin: 0 auto;
    font-size: 28px;
    letter-spacing: 1px;
}

h2 {
    font-size: 20px;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.site-item {
    flex: 0 30%;
    margin-bottom: 30px;
}

.site-item img {
    width: 100%;
}
.site-img {
  max-height: 1000px;
  overflow-y: scroll;
}

.page-section.impression-section {
    padding-top: 104px;
}

.page-section {
    padding: 54px 0;
}

.dark {
    background: #e6e7e8;
}

.section-heading .container {
    border: 2px solid #333;
    color: #333;
    padding: 25px 0;
    margin-bottom: 24px;
}

.site-item h2::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    top: 5px;
    margin-right: 8px;
}

.site-item:first-child h2::before {
    content: '';
    background: url(./assets/one.svg);
}

.site-item:nth-child(2) h2::before {
    content: '';
    background: url(./assets/two.svg);
}

.site-item:last-child h2::before {
    content: '';
    background: url(./assets/three.svg);
}

.inspo-section .site-item:nth-child(3) h2::before {
    content: '';
    background: url(./assets/three.svg);
}

.inspo-section .site-item:nth-child(4) h2::before {
    content: '';
    background: url(./assets/four.svg);
}

.inspo-section .site-item:nth-child(5) h2::before {
    content: '';
    background: url(./assets/five.svg);
}

.inspo-section .site-item:last-child h2::before {
    content: '';
    background: url(./assets/six.svg);
}


p.secondary-heading {
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 600;
    font-size: 21px;
    color: #000000;
    letter-spacing: 1px;
    border: 3px solid #00add5;
    padding: 25px 15%;
    margin: 24px auto 34px;
}

.page-header {
    padding: 104px 0;
    /*background: url(./assets/images/header.jpg);*/
    background-color: #121212;
    position: relative;
}

.page-header p {
    font-weight: 700!important;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    font-family: 'Montserrat',sans-serif;
    font-size: 55px;
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 3;
}

.header-overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    pointer-events: none;
    background-color: rgba(0,0,0,0.5);
}

.header-divider {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDBweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiNmZmZmZmYiPjxwYXRoIGQ9Ik03MjUuMjkgMTAxLjJDMzI1LjIyIDEyMi40OCAwIDAgMCAwdjE0MGgxMjgwVjBzLTE1NC42NCA3OS45Mi01NTQuNzEgMTAxLjJ6IiBmaWxsLW9wYWNpdHk9Ii4zIi8+PHBhdGggZD0iTTU1Ni40NSAxMTkuNzRDOTUzLjQxIDE0MCAxMjgwIDE0IDEyODAgMTR2MTI2SDBWMHMxNTkuNSA5OS40OCA1NTYuNDUgMTE5Ljc0eiIgZmlsbC1vcGFjaXR5PSIuNSIvPjxwYXRoIGQ9Ik02NDAgMTQwYzM1My40NiAwIDY0MC0xNDAgNjQwLTEzOXYxNDBIMFYwczI4Ni41NCAxNDAgNjQwIDE0MHoiLz48L2c+PC9zdmc+);
    background-size: 100% 100px;
    bottom: 0;
    height: 100px;
    z-index: 10;
    position: relative;
    width: 100%;
    margin-top: -100px;
}

.layout-section {
  display: none;
}
.inspo-section {
  background: #e6e7e8;
}


@media (max-width: 980px) {
    .page-header p {
        font-size: 6vw;
        max-width: 100%;
    }

    .header-divider {
        margin-top: -99px;
    }

    .site-item {
        flex: 100%;
    }
}

@media (max-width: 767px) {
    .header-divider {
        background-size: 100% 50px;
        height: 50px;
        margin-top: -50px;
    }

    .page-header {
        padding: 84px 0 94px;
    }

    h1 {
        font-size: 5vw;
    }

    .page-section.impression-section {
        padding-top: 14vw;
    }
}
